<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barrackAndArmoryBuilding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{294,538},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>120 120 0 120 0 0 120 0</string>
                <key>verticesUV</key>
                <string>414 658 294 658 294 538 414 538</string>
            </dict>
            <key>castleBuilding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,136}</string>
                <key>spriteSourceSize</key>
                <string>{120,136}</string>
                <key>textureRect</key>
                <string>{{538,520},{120,136}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 6 7 5 0 1 1 3 4 1 2 3 5 1 4 0 5 6</string>
                <key>vertices</key>
                <string>37 10 80 10 93 0 120 0 120 136 0 136 0 0 27 0</string>
                <key>verticesUV</key>
                <string>575 530 618 530 631 520 658 520 658 656 538 656 538 520 565 520</string>
            </dict>
            <key>castleFlag_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,46}</string>
                <key>textureRect</key>
                <string>{{566,310},{45,46}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>45 14 9 46 0 46 0 0 45 0</string>
                <key>verticesUV</key>
                <string>611 324 575 356 566 356 566 310 611 310</string>
            </dict>
            <key>castleFlag_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,46}</string>
                <key>textureRect</key>
                <string>{{613,310},{45,46}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>45 18 9 46 0 46 0 0 45 0</string>
                <key>verticesUV</key>
                <string>658 328 622 356 613 356 613 310 658 310</string>
            </dict>
            <key>castleFlag_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,46}</string>
                <key>textureRect</key>
                <string>{{369,64},{45,46}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>45 25 9 46 0 46 0 0 45 0</string>
                <key>verticesUV</key>
                <string>414 89 378 110 369 110 369 64 414 64</string>
            </dict>
            <key>castleFlag_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,46}</string>
                <key>textureRect</key>
                <string>{{64,66},{45,46}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>45 21 9 46 0 46 0 0 45 0</string>
                <key>verticesUV</key>
                <string>109 87 73 112 64 112 64 66 109 66</string>
            </dict>
            <key>emptyTile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{172,538},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>120 120 0 120 0 0 120 0</string>
                <key>verticesUV</key>
                <string>292 658 172 658 172 538 292 538</string>
            </dict>
            <key>farmBuilding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{538,66},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>120 120 0 120 0 0 120 0</string>
                <key>verticesUV</key>
                <string>658 186 538 186 538 66 658 66</string>
            </dict>
            <key>gridBorder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 0 1 6 7 1 6 1 2 5 6 2 4 5 2 4 2 3 11 4 3 10 11 3 9 10 3 0 7 8 9 3 0 8 9 0</string>
                <key>vertices</key>
                <string>720 720 0 720 0 0 720 0 63 61 61 63 61 657 63 659 657 659 659 657 659 63 657 61</string>
                <key>verticesUV</key>
                <string>721 721 1 721 1 1 721 1 64 62 62 64 62 658 64 660 658 660 660 658 660 64 658 62</string>
            </dict>
            <key>lumbermillBuilding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{538,188},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>120 120 0 120 0 0 120 0</string>
                <key>verticesUV</key>
                <string>658 308 538 308 538 188 658 188</string>
            </dict>
            <key>mineBuilding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{416,64},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>120 120 0 120 0 0 120 0</string>
                <key>verticesUV</key>
                <string>536 184 416 184 416 64 536 64</string>
            </dict>
            <key>villageBuilding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{416,538},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>120 120 0 120 0 0 120 0</string>
                <key>verticesUV</key>
                <string>536 658 416 658 416 538 536 538</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TileSpriteSheet.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cd68e9e6a1d776ce0cbeb39e6e7740d:96993d4a5507014e1d5ca87229aa20b4:8793893896d891aa7fd30a757b7ec5c5$</string>
            <key>textureFileName</key>
            <string>TileSpriteSheet.png</string>
        </dict>
    </dict>
</plist>
