<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barrackAndArmoryBuilding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{626,204},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>120 120 0 120 0 0 120 0</string>
                <key>verticesUV</key>
                <string>746 324 626 324 626 204 746 204</string>
            </dict>
            <key>buildingWreckage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{408,538},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>120 120 0 120 0 0 120 0</string>
                <key>verticesUV</key>
                <string>528 658 408 658 408 538 528 538</string>
            </dict>
            <key>castleBuilding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,136}</string>
                <key>spriteSourceSize</key>
                <string>{120,136}</string>
                <key>textureRect</key>
                <string>{{286,522},{120,136}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 6 7 5 0 1 1 3 4 1 2 3 5 1 4 0 5 6</string>
                <key>vertices</key>
                <string>37 10 80 10 93 0 120 0 120 136 0 136 0 0 27 0</string>
                <key>verticesUV</key>
                <string>323 532 366 532 379 522 406 522 406 658 286 658 286 522 313 522</string>
            </dict>
            <key>castleFlag_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,46}</string>
                <key>textureRect</key>
                <string>{{203,64},{45,46}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>45 14 9 46 0 46 0 0 45 0</string>
                <key>verticesUV</key>
                <string>248 78 212 110 203 110 203 64 248 64</string>
            </dict>
            <key>castleFlag_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,46}</string>
                <key>textureRect</key>
                <string>{{152,489},{45,46}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>45 18 9 46 0 46 0 0 45 0</string>
                <key>verticesUV</key>
                <string>197 507 161 535 152 535 152 489 197 489</string>
            </dict>
            <key>castleFlag_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,46}</string>
                <key>textureRect</key>
                <string>{{701,448},{45,46}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>45 25 9 46 0 46 0 0 45 0</string>
                <key>verticesUV</key>
                <string>746 473 710 494 701 494 701 448 746 448</string>
            </dict>
            <key>castleFlag_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,46}</string>
                <key>textureRect</key>
                <string>{{152,66},{45,46}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>45 21 9 46 0 46 0 0 45 0</string>
                <key>verticesUV</key>
                <string>197 87 161 112 152 112 152 66 197 66</string>
            </dict>
            <key>emptyTile0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{498,189},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>120 120 0 120 0 0 120 0</string>
                <key>verticesUV</key>
                <string>618 309 498 309 498 189 618 189</string>
            </dict>
            <key>emptyTile1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{372,64},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>120 120 0 120 0 0 120 0</string>
                <key>verticesUV</key>
                <string>492 184 372 184 372 64 492 64</string>
            </dict>
            <key>emptyTile2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{626,326},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>120 120 0 120 0 0 120 0</string>
                <key>verticesUV</key>
                <string>746 446 626 446 626 326 746 326</string>
            </dict>
            <key>farmBuilding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,136}</string>
                <key>spriteSourceSize</key>
                <string>{126,136}</string>
                <key>textureRect</key>
                <string>{{620,66},{126,136}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>126 136 0 136 0 0 126 0</string>
                <key>verticesUV</key>
                <string>746 202 620 202 620 66 746 66</string>
            </dict>
            <key>flooded.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{250,64},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>120 120 0 120 0 0 120 0</string>
                <key>verticesUV</key>
                <string>370 184 250 184 250 64 370 64</string>
            </dict>
            <key>gridBorder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{896,720}</string>
                <key>spriteSourceSize</key>
                <string>{896,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{896,720}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 0 1 6 7 1 6 1 2 5 6 2 4 5 2 4 2 3 11 4 3 10 11 3 9 10 3 0 7 8 9 3 0 8 9 0</string>
                <key>vertices</key>
                <string>896 720 0 720 0 0 896 0 151 61 149 63 149 657 151 659 745 659 747 657 747 63 745 61</string>
                <key>verticesUV</key>
                <string>897 721 1 721 1 1 897 1 152 62 150 64 150 658 152 660 746 660 748 658 748 64 746 62</string>
            </dict>
            <key>lumbermillBuilding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,123}</string>
                <key>spriteSourceSize</key>
                <string>{124,123}</string>
                <key>textureRect</key>
                <string>{{494,64},{124,123}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 4 5 0 3 5 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>124 123 7 123 2 118 0 104 0 0 124 0</string>
                <key>verticesUV</key>
                <string>618 187 501 187 496 182 494 168 494 64 618 64</string>
            </dict>
            <key>mineBuilding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,131}</string>
                <key>spriteSourceSize</key>
                <string>{126,131}</string>
                <key>textureRect</key>
                <string>{{618,527},{126,131}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 4 5 2 3 4 1 2 4 0 1 5</string>
                <key>vertices</key>
                <string>126 15 126 131 2 131 0 11 69 0 85 0</string>
                <key>verticesUV</key>
                <string>744 542 744 658 620 658 618 538 687 527 703 527</string>
            </dict>
            <key>villageBuilding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,137}</string>
                <key>spriteSourceSize</key>
                <string>{132,137}</string>
                <key>textureRect</key>
                <string>{{152,521},{132,137}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 6 7 4 5 6 0 1 4 2 3 4 1 2 4 0 4 7</string>
                <key>vertices</key>
                <string>132 22 132 137 18 137 11 134 0 85 0 19 66 0 81 0</string>
                <key>verticesUV</key>
                <string>284 543 284 658 170 658 163 655 152 606 152 540 218 521 233 521</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TileSpriteSheet.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9189b9ed41f7b16b900050cee8c9457d:df9b3d9a93f67234faacbf22fcc6a08e:8793893896d891aa7fd30a757b7ec5c5$</string>
            <key>textureFileName</key>
            <string>TileSpriteSheet.png</string>
        </dict>
    </dict>
</plist>
