<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,281}</string>
                <key>spriteSourceSize</key>
                <string>{513,281}</string>
                <key>textureRect</key>
                <string>{{1283,327},{513,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clickToPlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,65}</string>
                <key>spriteSourceSize</key>
                <string>{354,65}</string>
                <key>textureRect</key>
                <string>{{1,1368},{354,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1010,381}</string>
                <key>spriteSourceSize</key>
                <string>{1010,381}</string>
                <key>textureRect</key>
                <string>{{1034,985},{1010,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1031,397}</string>
                <key>spriteSourceSize</key>
                <string>{1031,397}</string>
                <key>textureRect</key>
                <string>{{1,886},{1031,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1060,405}</string>
                <key>spriteSourceSize</key>
                <string>{1060,405}</string>
                <key>textureRect</key>
                <string>{{1,479},{1060,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{971,373}</string>
                <key>spriteSourceSize</key>
                <string>{971,373}</string>
                <key>textureRect</key>
                <string>{{1063,610},{971,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,476}</string>
                <key>spriteSourceSize</key>
                <string>{1280,476}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,324}</string>
                <key>spriteSourceSize</key>
                <string>{558,324}</string>
                <key>textureRect</key>
                <string>{{1283,1},{558,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>titleSceneSpriteSheet.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37b343bc1151a7cc2e9ebeabf1e4df75:4a59a7298130cb91f7406a45f50ec9c3:d58decdc1c8b410b57a3251599a67092$</string>
            <key>textureFileName</key>
            <string>titleSceneSpriteSheet.png</string>
        </dict>
    </dict>
</plist>
