<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buildConfirmIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,35}</string>
                <key>spriteSourceSize</key>
                <string>{40,35}</string>
                <key>textureRect</key>
                <string>{{450,818},{40,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildCursor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,33}</string>
                <key>spriteSourceSize</key>
                <string>{31,33}</string>
                <key>textureRect</key>
                <string>{{288,826},{31,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,71}</string>
                <key>spriteSourceSize</key>
                <string>{60,71}</string>
                <key>textureRect</key>
                <string>{{644,726},{60,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildingBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,12}</string>
                <key>spriteSourceSize</key>
                <string>{116,12}</string>
                <key>textureRect</key>
                <string>{{575,835},{116,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildingBarFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,46}</string>
                <key>spriteSourceSize</key>
                <string>{122,46}</string>
                <key>textureRect</key>
                <string>{{502,941},{122,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleanCursor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{544,989},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleanIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{571,726},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleaningBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,12}</string>
                <key>spriteSourceSize</key>
                <string>{116,12}</string>
                <key>textureRect</key>
                <string>{{693,833},{116,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleaningBarFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,43}</string>
                <key>spriteSourceSize</key>
                <string>{122,43}</string>
                <key>textureRect</key>
                <string>{{378,947},{122,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>costIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,68}</string>
                <key>spriteSourceSize</key>
                <string>{93,68}</string>
                <key>textureRect</key>
                <string>{{602,849},{93,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>costsLabel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,24}</string>
                <key>spriteSourceSize</key>
                <string>{46,24}</string>
                <key>textureRect</key>
                <string>{{496,992},{46,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>defaultCursor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{22,32}</string>
                <key>textureRect</key>
                <string>{{703,799},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>destroyCursor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,32}</string>
                <key>spriteSourceSize</key>
                <string>{31,32}</string>
                <key>textureRect</key>
                <string>{{670,799},{31,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>destroyIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,66}</string>
                <key>spriteSourceSize</key>
                <string>{96,66}</string>
                <key>textureRect</key>
                <string>{{626,919},{96,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{4,1019},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enrichIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{633,799},{35,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fadeGradiant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,90}</string>
                <key>spriteSourceSize</key>
                <string>{169,90}</string>
                <key>textureRect</key>
                <string>{{328,726},{169,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmBuildingIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,84}</string>
                <key>spriteSourceSize</key>
                <string>{69,84}</string>
                <key>textureRect</key>
                <string>{{461,855},{69,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{392,818},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>foodIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{392,818},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genUsesLabel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,24}</string>
                <key>spriteSourceSize</key>
                <string>{195,24}</string>
                <key>textureRect</key>
                <string>{{190,992},{195,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hpBarFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,23}</string>
                <key>spriteSourceSize</key>
                <string>{114,23}</string>
                <key>textureRect</key>
                <string>{{697,872},{114,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftPanel1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,720}</string>
                <key>spriteSourceSize</key>
                <string>{217,720}</string>
                <key>textureRect</key>
                <string>{{4,4},{217,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lumbermillBuildingIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,79}</string>
                <key>spriteSourceSize</key>
                <string>{70,79}</string>
                <key>textureRect</key>
                <string>{{499,726},{70,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lumbermillIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,25}</string>
                <key>spriteSourceSize</key>
                <string>{38,25}</string>
                <key>textureRect</key>
                <string>{{150,992},{38,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{352,818},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metalIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,33}</string>
                <key>spriteSourceSize</key>
                <string>{29,33}</string>
                <key>textureRect</key>
                <string>{{321,826},{29,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineBuildingIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,83}</string>
                <key>spriteSourceSize</key>
                <string>{68,83}</string>
                <key>textureRect</key>
                <string>{{532,854},{68,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,33}</string>
                <key>spriteSourceSize</key>
                <string>{29,33}</string>
                <key>textureRect</key>
                <string>{{321,826},{29,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>naturalResourcesLabel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,25}</string>
                <key>spriteSourceSize</key>
                <string>{144,25}</string>
                <key>textureRect</key>
                <string>{{4,992},{144,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panelDivider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,23}</string>
                <key>spriteSourceSize</key>
                <string>{216,23}</string>
                <key>textureRect</key>
                <string>{{602,989},{216,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panelDividerFlipped.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,23}</string>
                <key>spriteSourceSize</key>
                <string>{216,23}</string>
                <key>textureRect</key>
                <string>{{697,847},{216,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pauseLabel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,129}</string>
                <key>spriteSourceSize</key>
                <string>{372,129}</string>
                <key>textureRect</key>
                <string>{{4,861},{372,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>populationIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,33}</string>
                <key>spriteSourceSize</key>
                <string>{29,33}</string>
                <key>textureRect</key>
                <string>{{602,799},{29,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>productionProgressRadial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{602,919},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>productionProgressRadialBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{576,989},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>productionProgressRadialColored.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{697,897},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progressBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,10}</string>
                <key>spriteSourceSize</key>
                <string>{82,10}</string>
                <key>textureRect</key>
                <string>{{44,848},{82,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resourceBarFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,22}</string>
                <key>spriteSourceSize</key>
                <string>{114,22}</string>
                <key>textureRect</key>
                <string>{{706,726},{114,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resourceIconVerticalPack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,133}</string>
                <key>spriteSourceSize</key>
                <string>{38,133}</string>
                <key>textureRect</key>
                <string>{{4,726},{38,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resourceIconVerticalPackWOPopulation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,98}</string>
                <key>spriteSourceSize</key>
                <string>{38,98}</string>
                <key>textureRect</key>
                <string>{{288,726},{38,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resourceLabel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,23}</string>
                <key>spriteSourceSize</key>
                <string>{72,23}</string>
                <key>textureRect</key>
                <string>{{915,4},{72,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resourceLeftLabel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,24}</string>
                <key>spriteSourceSize</key>
                <string>{107,24}</string>
                <key>textureRect</key>
                <string>{{387,992},{107,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightPanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,720}</string>
                <key>spriteSourceSize</key>
                <string>{217,720}</string>
                <key>textureRect</key>
                <string>{{223,4},{217,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speedX0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{424,818},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speedX1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{575,799},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speedX2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,34}</string>
                <key>textureRect</key>
                <string>{{538,807},{35,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speedX3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,34}</string>
                <key>spriteSourceSize</key>
                <string>{44,34}</string>
                <key>textureRect</key>
                <string>{{492,818},{44,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tileHover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{44,726},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tileSelect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{166,726},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toggleInfoUIIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,22}</string>
                <key>spriteSourceSize</key>
                <string>{40,22}</string>
                <key>textureRect</key>
                <string>{{706,750},{40,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treeLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,720}</string>
                <key>spriteSourceSize</key>
                <string>{128,720}</string>
                <key>textureRect</key>
                <string>{{596,4},{128,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treeRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,720}</string>
                <key>spriteSourceSize</key>
                <string>{152,720}</string>
                <key>textureRect</key>
                <string>{{442,4},{152,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>villageBuildingIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,89}</string>
                <key>spriteSourceSize</key>
                <string>{81,89}</string>
                <key>textureRect</key>
                <string>{{378,856},{81,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>villageIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,33}</string>
                <key>spriteSourceSize</key>
                <string>{29,33}</string>
                <key>textureRect</key>
                <string>{{602,799},{29,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>woodIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,25}</string>
                <key>spriteSourceSize</key>
                <string>{38,25}</string>
                <key>textureRect</key>
                <string>{{150,992},{38,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UISpriteSheet.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8dbfea5fd76973bd31425ca2c894663b:151545b583df80d7c2a27eaa76d16d48:ea83b12dfefccf57cc44dfadd1ca2864$</string>
            <key>textureFileName</key>
            <string>UISpriteSheet.png</string>
        </dict>
    </dict>
</plist>
