<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buildConfirmIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,35}</string>
                <key>spriteSourceSize</key>
                <string>{40,35}</string>
                <key>textureRect</key>
                <string>{{980,51},{40,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildCursor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,33}</string>
                <key>spriteSourceSize</key>
                <string>{31,33}</string>
                <key>textureRect</key>
                <string>{{980,502},{31,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,71}</string>
                <key>spriteSourceSize</key>
                <string>{60,71}</string>
                <key>textureRect</key>
                <string>{{551,460},{60,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildingBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,12}</string>
                <key>spriteSourceSize</key>
                <string>{116,12}</string>
                <key>textureRect</key>
                <string>{{264,726},{116,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildingBarFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,46}</string>
                <key>spriteSourceSize</key>
                <string>{122,46}</string>
                <key>textureRect</key>
                <string>{{467,533},{122,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleanCursor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{980,609},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleanIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{551,135},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleaningBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,12}</string>
                <key>spriteSourceSize</key>
                <string>{116,12}</string>
                <key>textureRect</key>
                <string>{{477,939},{116,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleaningBarFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,43}</string>
                <key>spriteSourceSize</key>
                <string>{122,43}</string>
                <key>textureRect</key>
                <string>{{467,581},{122,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>costIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,68}</string>
                <key>spriteSourceSize</key>
                <string>{93,68}</string>
                <key>textureRect</key>
                <string>{{477,869},{93,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>costsLabel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,24}</string>
                <key>spriteSourceSize</key>
                <string>{46,24}</string>
                <key>textureRect</key>
                <string>{{332,962},{46,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>defaultCursor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{22,32}</string>
                <key>textureRect</key>
                <string>{{595,571},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>destroyCursor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,32}</string>
                <key>spriteSourceSize</key>
                <string>{31,32}</string>
                <key>textureRect</key>
                <string>{{980,537},{31,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>destroyIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,66}</string>
                <key>spriteSourceSize</key>
                <string>{96,66}</string>
                <key>textureRect</key>
                <string>{{572,857},{96,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{4,1017},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enrichIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{980,468},{35,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exitLabel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,33}</string>
                <key>spriteSourceSize</key>
                <string>{58,33}</string>
                <key>textureRect</key>
                <string>{{591,986},{58,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fadeGradiant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,90}</string>
                <key>spriteSourceSize</key>
                <string>{169,90}</string>
                <key>textureRect</key>
                <string>{{223,870},{169,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmBuildingIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,84}</string>
                <key>spriteSourceSize</key>
                <string>{69,84}</string>
                <key>textureRect</key>
                <string>{{551,289},{69,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{980,571},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>foodIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{980,571},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genUsesLabel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,24}</string>
                <key>spriteSourceSize</key>
                <string>{195,24}</string>
                <key>textureRect</key>
                <string>{{190,990},{195,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hpBarFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,23}</string>
                <key>spriteSourceSize</key>
                <string>{114,23}</string>
                <key>textureRect</key>
                <string>{{595,925},{114,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftPanel1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,720}</string>
                <key>spriteSourceSize</key>
                <string>{217,720}</string>
                <key>textureRect</key>
                <string>{{4,4},{217,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lumbermillBuildingIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,79}</string>
                <key>spriteSourceSize</key>
                <string>{70,79}</string>
                <key>textureRect</key>
                <string>{{551,208},{70,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lumbermillIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,25}</string>
                <key>spriteSourceSize</key>
                <string>{38,25}</string>
                <key>textureRect</key>
                <string>{{150,990},{38,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{980,394},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuPanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,262}</string>
                <key>spriteSourceSize</key>
                <string>{217,262}</string>
                <key>textureRect</key>
                <string>{{4,726},{217,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metalIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,33}</string>
                <key>spriteSourceSize</key>
                <string>{29,33}</string>
                <key>textureRect</key>
                <string>{{980,642},{29,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineBuildingIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,83}</string>
                <key>spriteSourceSize</key>
                <string>{68,83}</string>
                <key>textureRect</key>
                <string>{{551,375},{68,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,33}</string>
                <key>spriteSourceSize</key>
                <string>{29,33}</string>
                <key>textureRect</key>
                <string>{{980,642},{29,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>musicOffIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,45}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{980,4},{40,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>musicOnIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,45}</string>
                <key>spriteSourceSize</key>
                <string>{38,45}</string>
                <key>textureRect</key>
                <string>{{980,347},{38,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>naturalResourcesLabel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,25}</string>
                <key>spriteSourceSize</key>
                <string>{144,25}</string>
                <key>textureRect</key>
                <string>{{4,990},{144,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panelDivider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,23}</string>
                <key>spriteSourceSize</key>
                <string>{216,23}</string>
                <key>textureRect</key>
                <string>{{406,961},{216,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panelDividerFlipped.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,23}</string>
                <key>spriteSourceSize</key>
                <string>{216,23}</string>
                <key>textureRect</key>
                <string>{{754,726},{216,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pauseLabel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,129}</string>
                <key>spriteSourceSize</key>
                <string>{372,129}</string>
                <key>textureRect</key>
                <string>{{387,4},{372,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>populationIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,33}</string>
                <key>spriteSourceSize</key>
                <string>{29,33}</string>
                <key>textureRect</key>
                <string>{{980,677},{29,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>productionProgressRadial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{223,726},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>productionProgressRadialBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{380,962},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>productionProgressRadialColored.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{244,726},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progressBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,10}</string>
                <key>spriteSourceSize</key>
                <string>{82,10}</string>
                <key>textureRect</key>
                <string>{{467,857},{82,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resourceBarFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,22}</string>
                <key>spriteSourceSize</key>
                <string>{114,22}</string>
                <key>textureRect</key>
                <string>{{624,950},{114,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resourceIconVerticalPack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,133}</string>
                <key>spriteSourceSize</key>
                <string>{38,133}</string>
                <key>textureRect</key>
                <string>{{980,112},{38,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resourceIconVerticalPackWOPopulation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,98}</string>
                <key>spriteSourceSize</key>
                <string>{38,98}</string>
                <key>textureRect</key>
                <string>{{980,247},{38,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resourceLabel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,23}</string>
                <key>spriteSourceSize</key>
                <string>{72,23}</string>
                <key>textureRect</key>
                <string>{{467,135},{72,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resourceLeftLabel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,24}</string>
                <key>spriteSourceSize</key>
                <string>{107,24}</string>
                <key>textureRect</key>
                <string>{{223,962},{107,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resumeLabel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,33}</string>
                <key>spriteSourceSize</key>
                <string>{106,33}</string>
                <key>textureRect</key>
                <string>{{483,986},{106,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightPanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,720}</string>
                <key>spriteSourceSize</key>
                <string>{217,720}</string>
                <key>textureRect</key>
                <string>{{761,4},{217,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sfxOffIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,32}</string>
                <key>textureRect</key>
                <string>{{387,988},{48,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sfxOnIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,32}</string>
                <key>textureRect</key>
                <string>{{972,748},{48,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speedX0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{595,533},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speedX1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{980,712},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speedX2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,34}</string>
                <key>textureRect</key>
                <string>{{980,432},{35,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speedX3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,34}</string>
                <key>spriteSourceSize</key>
                <string>{44,34}</string>
                <key>textureRect</key>
                <string>{{437,986},{44,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tileHover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{223,748},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tileSelect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{345,748},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toggleInfoUIIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,22}</string>
                <key>spriteSourceSize</key>
                <string>{40,22}</string>
                <key>textureRect</key>
                <string>{{980,88},{40,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treeLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,720}</string>
                <key>spriteSourceSize</key>
                <string>{128,720}</string>
                <key>textureRect</key>
                <string>{{624,135},{128,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treeRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,720}</string>
                <key>spriteSourceSize</key>
                <string>{152,720}</string>
                <key>textureRect</key>
                <string>{{223,4},{152,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>villageBuildingIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,89}</string>
                <key>spriteSourceSize</key>
                <string>{81,89}</string>
                <key>textureRect</key>
                <string>{{394,870},{81,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>villageIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,33}</string>
                <key>spriteSourceSize</key>
                <string>{29,33}</string>
                <key>textureRect</key>
                <string>{{980,677},{29,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>woodIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,25}</string>
                <key>spriteSourceSize</key>
                <string>{38,25}</string>
                <key>textureRect</key>
                <string>{{150,990},{38,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UISpriteSheet.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2133999aeb4b0bc46206ba7dc02d3a9a:ca5a56df9943bc527d5b7cfd9cf30038:ea83b12dfefccf57cc44dfadd1ca2864$</string>
            <key>textureFileName</key>
            <string>UISpriteSheet.png</string>
        </dict>
    </dict>
</plist>
